body {
    background: #f5f2ec;
    color: #222;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

h1 {
    font-family: Georgia, serif;
    font-size: 60px;
}

h2 {
    font-family: Georgia, serif;
    margin-top: 50px;
}

p {
    font-size: 18px;
    line-height: 1.7;
}
